.paneTransaksi div.contentTransaksi {
	float: left;
	width: 400px;
	margin-left: 7px;
}
.paneTransaksi{
	width: 815px;
	margin: auto;
}
.contentInputTransaksi{
	width: 75%;
	margin-left: -230px;
	margin-top: 15px;
}
.alignTable{
	clear: both;
}
th.headerTab{
	background-color: #4f8ce5;
	text-align: center; 
    color: #FFFFFF; 
    font-weight: bold !important;
    margin:0;
    padding:3px; 
}
