.paneTransaksi div.contentTransaksi {
	float: left;
	width: 500px;
	margin-left: 7px;
}
.paneTransaksi{
	width: 1024px;
	margin: auto;
}
.contentInputTransaksi{
	width: 1005px;
	margin-left: -135px;
	margin-top: 15px;
}
.alignTable{
	clear: both;
}
